.btn-group button, button {
    background-color: #93C1D5; /* Green background */
    border: 2px solid black; /* Green border */
    color: black; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 250px; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
    margin-top: 10px;
}

.btn-group button:not(:last-child),  button:not(:last-child){

}

/* Add a background color on hover */
.btn-group button:hover, button:hover{
    background-color: #E6F8FF;
}