

.wrapper {
  height: 200px;
  display: flex;
  gap: 20px;
}

.box {
  border: 5px solid #000;
  position: absolute;
  top: 40px; /* Расстояние от верхнего края */
  left: 280px; /* Расстояние от левого края */ 
  bottom: 0; right: 0;
  background: #FFFFFF;
  width: 600px;
  height: 500px;
}

.box img {
  width: 100%;
  height: 100%;
}

.box1 img {
  object-fit: contain;
}